.footmaincom {
  padding: 12.5px 25px;
  background-color: #e9eaf8;
}
.footer {
  background-color: #232323;
  padding: 40px 20px;
  color: #b8b8b8;
  border-radius: 20px;
}

.footmainwrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-column {
  flex: 1 1 200px;
  margin: 10px;
}

.footer h2 {
  font-size: 24px;
  color: #ffffff;
}
.foot1info {
  margin-top: 24px;
  margin-bottom: 31px;
}
.foot1info {
  color: #cacaca !important;
  font-size: 17px !important;
  font-weight: 500 !important;
  line-height: 28.9px !important;
}

.footername:hover{
    color: #747ed1 !important;
}

.foot1info2:hover{
    color: #747ed1 !important;
}

.foot1info2{
  color: #cacaca !important;
  font-size: 17px !important;
  font-weight: 500 !important;
  line-height: 28.9px !important;
  text-decoration: none !important;
}

.footer h3 {
  font-size: 20px;
  line-height: 29px;
  margin-bottom: 15px;
  color: #ffffff;
}

.footer p {
  color: #cacaca !important;
  font-size: 17px !important;
  font-weight: 500 !important;
  line-height: 28.9px !important;
}

.footer ul {
  list-style: none;
  padding-left: 0px;
}

.footer ul li {
  margin-bottom: 8px;
}



.footer ul li a {
  text-decoration: none;
  transition: color 0.3s;
  /* padding: 0 !important; */
  color: #cacaca !important;
  font-size: 17px !important;
  font-weight: 500 !important;
  line-height: 28.9px !important;
}

.footer ul li a:hover {
  color: #747ED1 !important;
}

/* Social Icons */
.social-icons {
  display: flex;
  gap: 14px;
}

.social-icons a {
  color: #b8b8b8;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #ffffff;
}

/* Newsletter form */
.footer form {
  display: flex;
  /* gap: 10px; */
  margin-top: 10px;
}

.footer form input[type="email"] {
  padding: 10px;
  border: 1px solid #FFFFFF1A;
  border-radius: 8px 0px 0px 8px !important;
  flex: 1;
  background-color: #272d32;
  color: #959ca9;
}

.footer form button {
  padding: 10px 20px;
  background-color: #747ed1;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 0px 8px 8px 0px;
  font-size:600;
  font-weight:17px ;
  line-height: 28.9px;
  
}

.footer form button:hover {
  background-color: #ffffff;
  color:#747ed1 ;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    margin-bottom: 20px;
    text-align: center;
  }

  .footer form {
    flex-direction: column;
    width: 100%;
  }

  .footer form input[type="email"] {
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .social-icons{
    justify-content: center;
  }
}
